# This file has the configuration items for the gettoken service.  Each configuration line should be in the form <config-item>=<config-value>.  Lines that start with a # are ignored.

# CS Shared 6.3 settings
ts-url = 10.85.78.97
ts-username = tsadmin
ts-password = xxxx
ts-secret = xxxx

# SRE settings
# ts-url = embed-1-do-not-delete.thoughtspotdev.cloud
# ts-username = tsadmin
# ts-password = xxxx
# ts-secret = xxxx

